main {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 25px;
    border: 40px solid #fff;
    border-radius: 40px;
    display: flex;
}

header {
    background-color: #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border: 50px solid #ccc;
    border-radius: 50px;
}

section {
    background-color: #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border: 30px solid #ccc;
    border-radius: 30px;
    flex: 3;
}

aside {
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border: 20px solid #ccc;
    border-radius: 20px;
    flex: 1;
    background: #ccc;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #ddd;
    border-top: 2px solid #ccc;
}